@import url(normalize.css);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300|Lato:400,900);
@import url(fonts.css);
body {
  background: #76bcf2;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: adddata; }

section.fulls {
  border: 1px solid;
  position: relative; }
  section.fulls h1 img {
    width: 100%; }
  section.fulls .icon.arrow {
    height: 30px;
    width: 30px;
    display: block;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 10px;
    cursor: pointer; }
    section.fulls .icon.arrow.arrow-black {
      background-image: url(../images/arrowblack.png); }
    section.fulls .icon.arrow.arrow-white {
      background-image: url(../images/arrowwhite.png); }
    section.fulls .icon.arrow.top {
      top: 10px; }
  section.fulls figure.logo.bottom {
    position: absolute;
    bottom: 30px;
    right: 30px; }
  section.fulls p.content {
    width: 330px;
    margin: 0 auto;
    text-align: justify;
    font-weight: lighter;
    font-size: 9pt;
    position: relative;
    top: 270px; }
    @media screen and (max-width: 400px) {
      section.fulls p.content {
        width: 90%;
        margin: 0 5%; } }
    section.fulls p.content .br {
      display: block;
      clear: both; }
      section.fulls p.content .br:before {
        display: block;
        content: '';
        height: 0.3em;
        width: 100%; }

section.fulls.first {
  background: black;
  border-color: black; }
  section.fulls.first figure {
    margin: 30px;
    float: left; }
  section.fulls.first header {
    position: absolute;
    top: 180px;
    width: 100%; }
    section.fulls.first header h1, section.fulls.first header h2 {
      display: block;
      margin: 0 auto;
      text-align: justify;
      color: #76bcf2;
      width: 330px;
      line-height: 1em;
      height: 1em;
      max-width: 100%; }
    section.fulls.first header h1 {
      font-family: adddata;
      font-weight: bolder;
      font-size: 83px;
      height: 87px; }
      section.fulls.first header h1.digital {
        height: 58px; }
      section.fulls.first header h1.ideas {
        letter-spacing: 0px;
        font-size: 109px; }
    section.fulls.first header h2 {
      font-family: nothing, helvetica, sans-serif;
      font-weight: lighter;
      font-size: 66px;
      height: 57px;
      line-height: 60px;
      letter-spacing: 0px; }
    @media screen and (max-width: 400px) {
      section.fulls.first header h1.ideas, section.fulls.first header h1.digital, section.fulls.first header h2 {
        text-align: center;
        width: 100%;
        height: 1em;
        line-height: 1em;
        padding: 0;
        margin: 0;
        font-size: 40px; } }
  section.fulls.first nav {
    position: absolute;
    bottom: 70px;
    left: 50%;
    margin-left: -165px;
    text-align: center;
    width: 370px;
    display: block; }
    section.fulls.first nav a {
      display: block;
      margin: 0;
      float: left;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top left;
      padding-top: 2em;
      font-size: 0;
      height: 25px;
      margin: 0; }
      section.fulls.first nav a:hover {
        opacity: 0.8; }
      section.fulls.first nav a.quienessomos {
        width: 33%;
        background-image: url(../images/quienessomosnav.png); }
      section.fulls.first nav a.quehacemos {
        width: 32%;
        background-image: url(../images/quehacemosnav.png); }
      section.fulls.first nav a.contactenos {
        width: 25%;
        background-image: url(../images/contactenosnav.png); }
      @media screen and (max-width: 800px) {
        section.fulls.first nav a {
          display: block;
          /*&float:none; */
          margin: 10px 0; } }

#quienessomos {
  background: #f4f4f4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f4f4f4 0%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f4f4f4 0%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f4f4f4 0%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f4f4f4 0%, white 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f4f4f4 0%, white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2',GradientType=0 );
  /* IE6-9 */ }
  #quienessomos header.title {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 100px; }
    #quienessomos header.title h1 {
      width: 330px;
      margin: 0 auto;
      text-transform: uppercase;
      color: #a9e1f6;
      height: 2em; }
      @media screen and (max-width: 400px) {
        #quienessomos header.title h1 {
          width: 90%;
          margin: 0 5%; } }
      #quienessomos header.title h1 small {
        display: block; }
  #quienessomos header.title h1 {
    font-size: 52pt;
    line-height: 37pt; }
    #quienessomos header.title h1 small {
      font-weight: lighter;
      font-size: 68pt; }

#quehacemos {
  background: #aae0fa; }
  #quehacemos header.title {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 100px; }
    #quehacemos header.title h1 {
      width: 330px;
      margin: 0 auto;
      text-transform: uppercase;
      color: #a9e1f6;
      height: 2em; }
      @media screen and (max-width: 400px) {
        #quehacemos header.title h1 {
          width: 90%;
          margin: 0 5%; } }
      #quehacemos header.title h1 small {
        display: block; }
  #quehacemos header.title h1 {
    font-size: 114pt;
    line-height: 50pt; }
    #quehacemos header.title h1 small {
      font-weight: lighter;
      font-size: 49pt; }
  #quehacemos header.title.english h1 {
    font-size: 83pt; }
    #quehacemos header.title.english h1 small {
      font-size: 69pt; }
  #quehacemos p.content {
    top: 325px; }

#clientes {
  background: #aae0fa; }
  #clientes header.title {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 100px; }
    #clientes header.title h1 {
      width: 330px;
      margin: 0 auto;
      text-transform: uppercase;
      color: #a9e1f6;
      height: 2em; }
      @media screen and (max-width: 400px) {
        #clientes header.title h1 {
          width: 90%;
          margin: 0 5%; } }
      #clientes header.title h1 small {
        display: block; }
  #clientes header.title h1 {
    font-size: 114pt;
    line-height: 50pt;
    height: auto;
    margin-bottom: 20px; }
    #clientes header.title h1 small {
      font-weight: lighter;
      font-size: 49pt; }
  #clientes header.title h2 {
    width: 330px;
    margin: 0 auto;
    text-align: center;
    font-weight: lighter; }
  #clientes .clientlogos {
    width: 330px;
    margin: 0 auto;
    margin-top: 410px; }
    #clientes .clientlogos img {
      width: 100%;
      border-radius: 8px; }

#contactenos {
  background: #e3e3e3;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e3e3e3 0%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e3e3e3), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e3e3e3 0%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e3e3e3 0%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e3e3e3 0%, white 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e3e3e3 0%, white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2',GradientType=0 );
  /* IE6-9 */ }
  #contactenos header {
    position: absolute;
    top: 180px;
    width: 100%; }
    #contactenos header h1, #contactenos header h2 {
      display: block;
      margin: 0 auto;
      text-align: justify;
      color: #76bcf2;
      width: 330px;
      line-height: 1em;
      height: 1em;
      max-width: 100%; }
    #contactenos header h1 {
      font-family: adddata;
      font-weight: bolder;
      font-size: 83px;
      height: 87px; }
      #contactenos header h1.digital {
        height: 58px; }
      #contactenos header h1.ideas {
        letter-spacing: 0px;
        font-size: 109px; }
    #contactenos header h2 {
      font-family: nothing, helvetica, sans-serif;
      font-weight: lighter;
      font-size: 66px;
      height: 57px;
      line-height: 60px;
      letter-spacing: 0px; }
    @media screen and (max-width: 400px) {
      #contactenos header h1.ideas, #contactenos header h1.digital, #contactenos header h2 {
        text-align: center;
        width: 100%;
        height: 1em;
        line-height: 1em;
        padding: 0;
        margin: 0;
        font-size: 40px; } }
  #contactenos header {
    top: 100px; }
    #contactenos header h1, #contactenos header h2, #contactenos header p {
      color: #a9e0f9;
      height: auto; }
    #contactenos header h2 {
      width: 330px;
      margin: 0 auto; }
      #contactenos header h2 img {
        width: 100%; }
  #contactenos .info {
    position: relative;
    top: 400px;
    margin: 0 auto;
    text-align: center; }
    #contactenos .info h1 {
      text-transform: uppercase;
      font-family: adddata;
      font-weight: lighter;
      margin-bottom: 1.5em; }
    #contactenos .info p {
      font-family: adddata;
      font-weight: lighter;
      margin-bottom: 0;
      margin-top: 0; }
  @media screen and (max-width: 400px) {
    #contactenos .info {
      top: 320px; }
      #contactenos .info h1 {
        margin-bottom: 1em; } }

.alwaystop.right {
  z-index: 999;
  font-size: 11px;
  position: fixed;
  right: 70px;
  top: 30px;
  width: auto;
  color: white;
  cursor: pointer; }
  .alwaystop.right a {
    color: white; }

section.admin {
  background: #a9e0f9;
  width: 800px;
  margin: 10px auto;
  padding: 10px; }
  @media screen and (max-width: 780px) {
    section.admin {
      width: 96%;
      margin: 0;
      padding: 2%; } }
  section.admin .row {
    clear: both;
    width: 100%;
    margin: 3px 0; }
    section.admin .row .error {
      color: red; }
    section.admin .row:after {
      display: block;
      content: '';
      clear: both;
      width: 100%;
      height: 1px; }
    section.admin .row label {
      display: block;
      width: 100%;
      margin-bottom: 2px; }
    section.admin .row input[type='text'], section.admin .row input[type='password'], section.admin .row textarea {
      float: left;
      display: block;
      width: 65%;
      margin-left: 2%; }
      @media screen and (max-width: 780px) {
        section.admin .row input[type='text'], section.admin .row input[type='password'], section.admin .row textarea {
          width: 90%;
          margin: 2px 5%; } }
    section.admin .row textarea {
      height: 120px; }
